extends ./form

block form
    .form-label-group
        input#inputUsername.form-control(type='text' name='username' value=(form_data ? form_data.username : '') required placeholder='Username' autofocus)
        label(for='inputUsername') Username
    .form-label-group
        input#inputPassword.form-control(type='password' name='password' required placeholder='Password')
        label(for='inputPassword') Password
    button.btn.btn-lg.btn-primary.btn-block.btn-login.text-uppercase.font-weight-bold.mb-2.form-submit-button(type='submit') Login
    
    if registration_enabled
        .text-center
            span.small Need an account?&nbsp;
                a(href='./register') Register here.
    .text-center
        span.small(style="color: #999999;") Provider: #{provider_name}
